text {
    display: table;
    border: 1px solid black;
    border-spacing: 3px;
    margin: 15px;
    color: rgb(1, 1, 1); }
thms,head {
    display: table-row; }
ntitle, nauthor {
    display: table-cell;
    border: 1px solid black;;
    padding: 4px;
    text-align: center;
    background-color: pink }
title, author {
    display: table-cell;
    border: 1px solid black;
    padding: 4px; 
    }